<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login Page</h1>
    <h2>Select your role</h2>
    <div>
        <p>
            Management
        </p>
        <form> <!-- Form to input login information -->
            <label for="email">Email:</label><br>
            <input type="text" id="email" name="email"><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password">
          </form>
    </div>
    <p>No account?<a href="url">Sign up</a></p><!-- Link to sign up if no account -->
    <button><a href="url">Log in</a></button>
</body>
</html>