<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form method="post">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <p><a href="login.html">Forgot password</p> <!--Login html is a placeholder for forgot password-->
        <button type="submit">Login</button>
    </form>

    {% if form.errors %}
    <p style="color: red;">Invalid username or password. Please try again.</p>
    <p>Debug info: {{ form.errors }}</p>
{% endif %}


    <p>No account? <a href="{% url 'register' %}">Sign Up</a></p>
</body>
</html>