<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Sky Media Inspired UI</title>
  <link rel="stylesheet" href="css/Styles.css" />
</head>
<body>
  <!-- Header Section -->
  <header>
    <div class="logo"> <!-- logo -->
      <a href="teamleader.html">
        <img src="images/sky logo.webp" alt="Sky Logo" />
      </a>
    </div>
    <!--Team role/ user information-->
    <div class="user-info">
      <div class="user-name">User Name</div>
      <div class="role-name">Team Leader</div>
    </div>
  </header>

  <!-- Sidebar and Main Content -->
  <div class="container">
    <!-- Sidebar -->
    <aside class="sidebar">
      <ul>
        <li><a href="teamleader.html">Vote</a></li>
        <li class="active">Teams</li>
      </ul>
    </aside>

    <!-- Main Content -->
    <main>
      <!--sections-->
      <div class="left-section">
        <div class="section">
          <div class="section-title">Your Team</div>
          <div class="placeholder-box"></div>
        </div>
    <!--sepereate sections for graphical results-->
        <div class="section">
          <div class="section-title">Teams</div>
          <div class="placeholder-box"></div>
          <div class="placeholder-box"></div>
        </div>
      </div>

      <div class="right-section">
        <div class="section-title">Overview</div>
        <div class="placeholder-box large"></div>
      </div>
    </main>
  </div>
</body>
</html>
