{% extends "base.html" %}

{% comment %} ##SECTION - 
# Members on site:
# (Siu Kitt, Frida): {% endcomment %}

{% block content %}
<style>
  .helptext {
    display: block;
  }
</style>

<div class="register-page">
  <div class="register-box">
      <h2>Register</h2>

      <form method = 'POST'>
        {% csrf_token %}
        {{ signupForm.as_p }} 
        {{ departmentForm.as_p }}
        <button type="submit"> Register </button>
      </form>
      <p> Already have an account? <a href="{% url 'log-in' %}"> Log in </a></p>
   </div>
 </div>
{% endblock %}